[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=fcitx-config
Exec=/usr/bin/single-instance /opt/fcitx-config/bin/fcitx-config
Icon=/usr/share/icons/hicolor/80x80/apps/fcitx-config80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
